@import '../styles/variables';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 100;
  background-color: transparent;
  transition: background-color 0.4s ease;

  // Add a background color when the user scrolls down
  &.scrolled {
    background-color: rgba($primary-bg, 0.8);
    --backdrop-filter: $backdrop-blur;
    box-shadow: $shadow-light;
  }
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  gap: 2.5rem;
  margin-right: 2rem;
}

.nav-link {
  color: $text-secondary;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: $transition-fast;
  position: relative;
  text-transform: uppercase;

  &:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $highlight-color;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    color: $highlight-color;
    &:before {
      width: 100%;
    }
  }

  &.active {
    color: $highlight-color;
    font-weight: 600;
    &:before {
      width: 100%;
      background-color: $highlight-color;
    }
  }
}

// Responsive Design
@media (max-width: $mobile) {
  .nav-links {
    justify-content: center;
    gap: 1.5rem;
    margin-right: 0;
  }
}